[diff]
    algorithm = patience
	noprefix = true
[user]
	name = Juho Vepsäläinen
    email = bebraw@gmail.com
[core]
    excludesfile = /Users/juhovepsalainen/.gitignore
    editor = vim
    autocrlf = input
	pager = diff-so-fancy | less --tabs=4 -RFX
[difftool "sourcetree"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
    path =
[mergetool "sourcetree"]
    cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true
[color]
    ui = true
[push]
	default = current
[advice]
    statusHints = false
[alias]
    rb = rebase
    st = status
    ci = commit
    co = checkout
    br = branch
	last = log -1 HEAD
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

# This next lines include Netlify's Git Credential Helper configuration in your Git configuration.
[include]
  path = /Users/juhovepsalainen/.netlify/helper/git-config
[help]
	autocorrect = -1
[merge "npm-merge-driver"]
	name = automatically merge npm lockfiles
	driver = npx npm-merge-driver merge %A %O %B %P
