[diff]
    algorithm = patience
[user]
    name = Juho Vepsalainen
    email = bebraw@gmail.com
[core]
    excludesfile = /Users/juhovepsalainen/.gitignore
    editor = vim
    autocrlf = input
[difftool "sourcetree"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
    path =
[mergetool "sourcetree"]
    cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true
[color]
    ui = true
[push]
    default = simple
[alias]
    st = status
    ci = commit
    co = checkout
    br = branch
